<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author"
    content="">
<meta name="description"
    content="亲呀 咋 我最近搭了个网站 嗯？ 跟你约稿一篇，随便写，快快写，别忘了 关于啥？ 随便啊 多少字要求？ 没有，但也不要短到一句话 高中毕业之后，考试不在写作文开始，我就基本上没有写过任何东西。大学还写写日记，工作之后就一次也没有动过。突然朋友约我一篇稿，令我很是惶恐。其实最近特别想写点东西，可能因此就没有直接拒绝朋友。 我天生说话大舌头，思维逻辑也比较混乱，也不会编故事。我想如果写的话，还是写点自己亲身经历比较好点。
曾梦想仗剑走天涯 大学毕业期间，大家都在忙着找工作，我也投入到校招大军中。天性太懒，计算机专业学习了4年，唯一技能会用3种语言编写乘法口诀。对于工作，毫无想法，但又必须进行。那天早上，我12：00起床，去食堂吃了碗6块钱的肉炒拉条子盖个蛋，走出食堂，西安的太阳热的人沟渠子都是水，我突然想到我的人生应该有些改变。回宿舍换了拖鞋，穿上一个月前在网上买的西装，用舍友的洗面奶洗了个脸，镜中的我帅气非凡却略显陌生。 校招现场，我拿着简历，像一条猎狗一样，四处寻找礼物。最后做到一个漂亮的女应聘官面前。现在我回头来看，有时候一个很小的选择就能影响一个人的未来。 杭州的一家公司，需要长期出差。从小到大，最远去过西安，对于这样一个机会，觉得终于可以天高任鸟飞。我手上握了一把屠龙剑，而见不到任何一条龙。
25岁以后绝对不会给任何人打工 23岁那年，我暗恋了3年的高中班花，在和我在一起的一个月内，和另一个人劈腿。好哥们过来安慰我，我对天发誓：25岁以后绝对不给任何人打工。你帮我记下。我今年27岁，还在给别人打工，我亲呀早已经忘了我说过的那句话，我记得很清，从25岁到27岁我换了3家公司，从2000工资涨到20000工资，从小张-张店长-张经理-张老师。职位与工资的改变对我唯一不同的是：一个月300元烟钱变成了500元；维信好友100个变成了500个；领导从李总变成了何总。
你为什么不努力？因为我懒啊 大学是我人生中最美好的时光，我有了爱情。从大学至今，我总共谈了6个对象，对每个人我都认为这个女娃我要和她走一生，到今天我单身。我这个人对爱情一直以来比较向往，但爱情周期都不长。前5个女友时间最长的3个月，第6个破天荒地谈了3年，情感方面的磨难我都扛住了，但最后却败给了狗日的现实。我就说嘛，上帝打开了一扇门，绝对会关上一扇窗，要不然容易漏风。 所谓的败给现实，其实还是自己不够努力，我知道最好的情况是：化悲伤为动力。可是我这个人太懒了，现实是要挑战的，但是先让我睡够。我谁都不怪，我自己太懒。
明年的目标在西安买套房 16年底，我给自己定下了人生中第一个目标：西安买套房。我一年收入15万，贷款15万，再借10万，西安首付没有问题。3-4月份，西安房价平均上涨1000元，到如今已经上涨2000，现在觉得买房的事情不用急，我还年轻，不急不急。
走的时间越长，越难回来 我现在最开心的时候，就是回家的时候。人生就行围城：城里的人想出去，城外的人想进来。 我大学最好的室友，放弃了西安一个月10000左右的收入，去了北京，说是趁着年轻出去闯闯。约我稿的亲呀，计划明年去新西兰，哥哥在河南，大伟在山区。他们问我啥时候回来，我说就这几年，总是要定下来。 4月份去天津面试新工作，面试官问我，这份工作需要定在天津，你可以接受吗？没问题。
我站在这繁华的街上，找不到该去的方向 在外漂泊4年，早已不再是当年的自己。人都会成长，每个人会根据经历不同，形成不同的待人接物。我用了4年时间，不断打磨我自己，到现在有了大概轮廓。可我也不知道，这几年为了成长我所改变的一些东西，是否值得。我遇事沉稳，却缺乏激情；左右逢源，却处处防备；谈吐幽默，却毫无乐趣。在外面开阔了眼界，遇到形形色色的人，碰见许许多多的事，听过数不清的人生格言，鸡汤都他妈的把我从120养到了160；、可是到今天，我对自己的人生越来越没有想法，一切都是被生活推着向前走，我觉得我需要改变，可我又不知道从何开始。我现在感受，我知道我要做什么，但我不知道的是：我为了什么去做。 一切回到刚开始：大学那天吃完那碗肉炒拉条子盖蛋之后，走出食堂，阳光明媚，我看到一个漂亮的女娃上了一辆宝马。
{% blockquote [author] %} 张大圣 {% endblockquote %}" />
<meta name="keywords" content="Golang&amp;.Net Core" />
<meta name="robots" content="noodp" />
<link rel="canonical" href="/blog/essay-20160925/" />


<title>
    
    如果西安的夜晚没有风 :: Code and Things  — Cosmo Wu
    
</title>



<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css" rel="stylesheet"
    type="text/css">



<link rel="stylesheet" href="/main.min.91687bbfc139d7ff1a244bb6d7324425f9c4f424eaaad242b478e3b3cf56396a.css">



<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#252627">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="theme-color" content="#252627">
<meta itemprop="name" content="如果西安的夜晚没有风">
<meta itemprop="description" content="亲呀 咋 我最近搭了个网站 嗯？ 跟你约稿一篇，随便写，快快写，别忘了 关于啥？ 随便啊 多少字要求？ 没有，但也不要短到一句话 高中毕业之后，考试不在写作文开始，我就基本上没有写过任何东西。大学还写写日记，工作之后就一次也没有动过。突然朋友约我一篇稿，令我很是惶恐。其实最近特别想写点东西，可能因此就没有直接拒绝朋友。 我天生说话大舌头，思维逻辑也比较混乱，也不会编故事。我想如果写的话，还是写点自己亲身经历比较好点。
曾梦想仗剑走天涯 大学毕业期间，大家都在忙着找工作，我也投入到校招大军中。天性太懒，计算机专业学习了4年，唯一技能会用3种语言编写乘法口诀。对于工作，毫无想法，但又必须进行。那天早上，我12：00起床，去食堂吃了碗6块钱的肉炒拉条子盖个蛋，走出食堂，西安的太阳热的人沟渠子都是水，我突然想到我的人生应该有些改变。回宿舍换了拖鞋，穿上一个月前在网上买的西装，用舍友的洗面奶洗了个脸，镜中的我帅气非凡却略显陌生。 校招现场，我拿着简历，像一条猎狗一样，四处寻找礼物。最后做到一个漂亮的女应聘官面前。现在我回头来看，有时候一个很小的选择就能影响一个人的未来。 杭州的一家公司，需要长期出差。从小到大，最远去过西安，对于这样一个机会，觉得终于可以天高任鸟飞。我手上握了一把屠龙剑，而见不到任何一条龙。
25岁以后绝对不会给任何人打工 23岁那年，我暗恋了3年的高中班花，在和我在一起的一个月内，和另一个人劈腿。好哥们过来安慰我，我对天发誓：25岁以后绝对不给任何人打工。你帮我记下。我今年27岁，还在给别人打工，我亲呀早已经忘了我说过的那句话，我记得很清，从25岁到27岁我换了3家公司，从2000工资涨到20000工资，从小张-张店长-张经理-张老师。职位与工资的改变对我唯一不同的是：一个月300元烟钱变成了500元；维信好友100个变成了500个；领导从李总变成了何总。
你为什么不努力？因为我懒啊 大学是我人生中最美好的时光，我有了爱情。从大学至今，我总共谈了6个对象，对每个人我都认为这个女娃我要和她走一生，到今天我单身。我这个人对爱情一直以来比较向往，但爱情周期都不长。前5个女友时间最长的3个月，第6个破天荒地谈了3年，情感方面的磨难我都扛住了，但最后却败给了狗日的现实。我就说嘛，上帝打开了一扇门，绝对会关上一扇窗，要不然容易漏风。 所谓的败给现实，其实还是自己不够努力，我知道最好的情况是：化悲伤为动力。可是我这个人太懒了，现实是要挑战的，但是先让我睡够。我谁都不怪，我自己太懒。
明年的目标在西安买套房 16年底，我给自己定下了人生中第一个目标：西安买套房。我一年收入15万，贷款15万，再借10万，西安首付没有问题。3-4月份，西安房价平均上涨1000元，到如今已经上涨2000，现在觉得买房的事情不用急，我还年轻，不急不急。
走的时间越长，越难回来 我现在最开心的时候，就是回家的时候。人生就行围城：城里的人想出去，城外的人想进来。 我大学最好的室友，放弃了西安一个月10000左右的收入，去了北京，说是趁着年轻出去闯闯。约我稿的亲呀，计划明年去新西兰，哥哥在河南，大伟在山区。他们问我啥时候回来，我说就这几年，总是要定下来。 4月份去天津面试新工作，面试官问我，这份工作需要定在天津，你可以接受吗？没问题。
我站在这繁华的街上，找不到该去的方向 在外漂泊4年，早已不再是当年的自己。人都会成长，每个人会根据经历不同，形成不同的待人接物。我用了4年时间，不断打磨我自己，到现在有了大概轮廓。可我也不知道，这几年为了成长我所改变的一些东西，是否值得。我遇事沉稳，却缺乏激情；左右逢源，却处处防备；谈吐幽默，却毫无乐趣。在外面开阔了眼界，遇到形形色色的人，碰见许许多多的事，听过数不清的人生格言，鸡汤都他妈的把我从120养到了160；、可是到今天，我对自己的人生越来越没有想法，一切都是被生活推着向前走，我觉得我需要改变，可我又不知道从何开始。我现在感受，我知道我要做什么，但我不知道的是：我为了什么去做。 一切回到刚开始：大学那天吃完那碗肉炒拉条子盖蛋之后，走出食堂，阳光明媚，我看到一个漂亮的女娃上了一辆宝马。
{% blockquote [author] %} 张大圣 {% endblockquote %}">


<meta itemprop="datePublished" content="2016-09-25T23:25:24&#43;00:00" />
<meta itemprop="dateModified" content="2016-09-25T23:25:24&#43;00:00" />
<meta itemprop="wordCount" content="37">



<meta itemprop="keywords" content="" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="/"/>

<meta name="twitter:title" content="如果西安的夜晚没有风"/>
<meta name="twitter:description" content="亲呀 咋 我最近搭了个网站 嗯？ 跟你约稿一篇，随便写，快快写，别忘了 关于啥？ 随便啊 多少字要求？ 没有，但也不要短到一句话 高中毕业之后，考试不在写作文开始，我就基本上没有写过任何东西。大学还写写日记，工作之后就一次也没有动过。突然朋友约我一篇稿，令我很是惶恐。其实最近特别想写点东西，可能因此就没有直接拒绝朋友。 我天生说话大舌头，思维逻辑也比较混乱，也不会编故事。我想如果写的话，还是写点自己亲身经历比较好点。
曾梦想仗剑走天涯 大学毕业期间，大家都在忙着找工作，我也投入到校招大军中。天性太懒，计算机专业学习了4年，唯一技能会用3种语言编写乘法口诀。对于工作，毫无想法，但又必须进行。那天早上，我12：00起床，去食堂吃了碗6块钱的肉炒拉条子盖个蛋，走出食堂，西安的太阳热的人沟渠子都是水，我突然想到我的人生应该有些改变。回宿舍换了拖鞋，穿上一个月前在网上买的西装，用舍友的洗面奶洗了个脸，镜中的我帅气非凡却略显陌生。 校招现场，我拿着简历，像一条猎狗一样，四处寻找礼物。最后做到一个漂亮的女应聘官面前。现在我回头来看，有时候一个很小的选择就能影响一个人的未来。 杭州的一家公司，需要长期出差。从小到大，最远去过西安，对于这样一个机会，觉得终于可以天高任鸟飞。我手上握了一把屠龙剑，而见不到任何一条龙。
25岁以后绝对不会给任何人打工 23岁那年，我暗恋了3年的高中班花，在和我在一起的一个月内，和另一个人劈腿。好哥们过来安慰我，我对天发誓：25岁以后绝对不给任何人打工。你帮我记下。我今年27岁，还在给别人打工，我亲呀早已经忘了我说过的那句话，我记得很清，从25岁到27岁我换了3家公司，从2000工资涨到20000工资，从小张-张店长-张经理-张老师。职位与工资的改变对我唯一不同的是：一个月300元烟钱变成了500元；维信好友100个变成了500个；领导从李总变成了何总。
你为什么不努力？因为我懒啊 大学是我人生中最美好的时光，我有了爱情。从大学至今，我总共谈了6个对象，对每个人我都认为这个女娃我要和她走一生，到今天我单身。我这个人对爱情一直以来比较向往，但爱情周期都不长。前5个女友时间最长的3个月，第6个破天荒地谈了3年，情感方面的磨难我都扛住了，但最后却败给了狗日的现实。我就说嘛，上帝打开了一扇门，绝对会关上一扇窗，要不然容易漏风。 所谓的败给现实，其实还是自己不够努力，我知道最好的情况是：化悲伤为动力。可是我这个人太懒了，现实是要挑战的，但是先让我睡够。我谁都不怪，我自己太懒。
明年的目标在西安买套房 16年底，我给自己定下了人生中第一个目标：西安买套房。我一年收入15万，贷款15万，再借10万，西安首付没有问题。3-4月份，西安房价平均上涨1000元，到如今已经上涨2000，现在觉得买房的事情不用急，我还年轻，不急不急。
走的时间越长，越难回来 我现在最开心的时候，就是回家的时候。人生就行围城：城里的人想出去，城外的人想进来。 我大学最好的室友，放弃了西安一个月10000左右的收入，去了北京，说是趁着年轻出去闯闯。约我稿的亲呀，计划明年去新西兰，哥哥在河南，大伟在山区。他们问我啥时候回来，我说就这几年，总是要定下来。 4月份去天津面试新工作，面试官问我，这份工作需要定在天津，你可以接受吗？没问题。
我站在这繁华的街上，找不到该去的方向 在外漂泊4年，早已不再是当年的自己。人都会成长，每个人会根据经历不同，形成不同的待人接物。我用了4年时间，不断打磨我自己，到现在有了大概轮廓。可我也不知道，这几年为了成长我所改变的一些东西，是否值得。我遇事沉稳，却缺乏激情；左右逢源，却处处防备；谈吐幽默，却毫无乐趣。在外面开阔了眼界，遇到形形色色的人，碰见许许多多的事，听过数不清的人生格言，鸡汤都他妈的把我从120养到了160；、可是到今天，我对自己的人生越来越没有想法，一切都是被生活推着向前走，我觉得我需要改变，可我又不知道从何开始。我现在感受，我知道我要做什么，但我不知道的是：我为了什么去做。 一切回到刚开始：大学那天吃完那碗肉炒拉条子盖蛋之后，走出食堂，阳光明媚，我看到一个漂亮的女娃上了一辆宝马。
{% blockquote [author] %} 张大圣 {% endblockquote %}"/>




<meta property="article:published_time" content="2016-09-25 23:25:24 &#43;0000 UTC" />







    </head>

    <body class="dark-theme">
        <div class="container">
            <header class="header">
    <span class="header__inner">
        <a href="/" style="text-decoration: none;">
    <div class="logo">
        
            <span class="logo__mark">></span>
            <span class="logo__text">$ cd /home/</span>
            <span class="logo__cursor"></span>
        
    </div>
</a>


        <span class="header__right">
            
                <nav class="menu">
    <ul class="menu__inner"><li><a href="/about/">About</a></li><li><a href="/blog/">Blog</a></li>
    </ul>
</nav>

                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            

            <span class="theme-toggle"><svg class="theme-toggler" width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22
  3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7
  13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"/>
</svg>
</span>
        </span>
    </span>
</header>


            <div class="content">
                
    <main class="post">

        <div class="post-info">
            
            </p>
        </div>

        <article>
            <h2 class="post-title"><a href="/blog/essay-20160925/">如果西安的夜晚没有风</a></h2>

            

            <div class="post-content">
                

<p>亲呀
咋
我最近搭了个网站
嗯？
跟你约稿一篇，随便写，快快写，别忘了
关于啥？
随便啊
多少字要求？
没有，但也不要短到一句话
高中毕业之后，考试不在写作文开始，我就基本上没有写过任何东西。大学还写写日记，工作之后就一次也没有动过。突然朋友约我一篇稿，令我很是惶恐。其实最近特别想写点东西，可能因此就没有直接拒绝朋友。
我天生说话大舌头，思维逻辑也比较混乱，也不会编故事。我想如果写的话，还是写点自己亲身经历比较好点。</p>

<h4 id="曾梦想仗剑走天涯">曾梦想仗剑走天涯</h4>

<p>大学毕业期间，大家都在忙着找工作，我也投入到校招大军中。天性太懒，计算机专业学习了4年，唯一技能会用3种语言编写乘法口诀。对于工作，毫无想法，但又必须进行。那天早上，我12：00起床，去食堂吃了碗6块钱的肉炒拉条子盖个蛋，走出食堂，西安的太阳热的人沟渠子都是水，我突然想到我的人生应该有些改变。回宿舍换了拖鞋，穿上一个月前在网上买的西装，用舍友的洗面奶洗了个脸，镜中的我帅气非凡却略显陌生。
校招现场，我拿着简历，像一条猎狗一样，四处寻找礼物。最后做到一个漂亮的女应聘官面前。现在我回头来看，有时候一个很小的选择就能影响一个人的未来。
杭州的一家公司，需要长期出差。从小到大，最远去过西安，对于这样一个机会，觉得终于可以天高任鸟飞。我手上握了一把屠龙剑，而见不到任何一条龙。</p>

<h4 id="25岁以后绝对不会给任何人打工">25岁以后绝对不会给任何人打工</h4>

<p>23岁那年，我暗恋了3年的高中班花，在和我在一起的一个月内，和另一个人劈腿。好哥们过来安慰我，我对天发誓：25岁以后绝对不给任何人打工。你帮我记下。我今年27岁，还在给别人打工，我亲呀早已经忘了我说过的那句话，我记得很清，从25岁到27岁我换了3家公司，从2000工资涨到20000工资，从小张-张店长-张经理-张老师。职位与工资的改变对我唯一不同的是：一个月300元烟钱变成了500元；维信好友100个变成了500个；领导从李总变成了何总。</p>

<h4 id="你为什么不努力-因为我懒啊">你为什么不努力？因为我懒啊</h4>

<p>大学是我人生中最美好的时光，我有了爱情。从大学至今，我总共谈了6个对象，对每个人我都认为这个女娃我要和她走一生，到今天我单身。我这个人对爱情一直以来比较向往，但爱情周期都不长。前5个女友时间最长的3个月，第6个破天荒地谈了3年，情感方面的磨难我都扛住了，但最后却败给了狗日的现实。我就说嘛，上帝打开了一扇门，绝对会关上一扇窗，要不然容易漏风。
所谓的败给现实，其实还是自己不够努力，我知道最好的情况是：化悲伤为动力。可是我这个人太懒了，现实是要挑战的，但是先让我睡够。我谁都不怪，我自己太懒。</p>

<h4 id="明年的目标在西安买套房">明年的目标在西安买套房</h4>

<p>16年底，我给自己定下了人生中第一个目标：西安买套房。我一年收入15万，贷款15万，再借10万，西安首付没有问题。3-4月份，西安房价平均上涨1000元，到如今已经上涨2000，现在觉得买房的事情不用急，我还年轻，不急不急。</p>

<h4 id="走的时间越长-越难回来">走的时间越长，越难回来</h4>

<p>我现在最开心的时候，就是回家的时候。人生就行围城：城里的人想出去，城外的人想进来。
我大学最好的室友，放弃了西安一个月10000左右的收入，去了北京，说是趁着年轻出去闯闯。约我稿的亲呀，计划明年去新西兰，哥哥在河南，大伟在山区。他们问我啥时候回来，我说就这几年，总是要定下来。
4月份去天津面试新工作，面试官问我，这份工作需要定在天津，你可以接受吗？没问题。</p>

<h4 id="我站在这繁华的街上-找不到该去的方向">我站在这繁华的街上，找不到该去的方向</h4>

<p>在外漂泊4年，早已不再是当年的自己。人都会成长，每个人会根据经历不同，形成不同的待人接物。我用了4年时间，不断打磨我自己，到现在有了大概轮廓。可我也不知道，这几年为了成长我所改变的一些东西，是否值得。我遇事沉稳，却缺乏激情；左右逢源，却处处防备；谈吐幽默，却毫无乐趣。在外面开阔了眼界，遇到形形色色的人，碰见许许多多的事，听过数不清的人生格言，鸡汤都他妈的把我从120养到了160；、可是到今天，我对自己的人生越来越没有想法，一切都是被生活推着向前走，我觉得我需要改变，可我又不知道从何开始。我现在感受，我知道我要做什么，但我不知道的是：我为了什么去做。
一切回到刚开始：大学那天吃完那碗肉炒拉条子盖蛋之后，走出食堂，阳光明媚，我看到一个漂亮的女娃上了一辆宝马。</p>

<p>{% blockquote [author] %}
张大圣
{% endblockquote %}</p>

            </div>
        </article>

        <hr />

        <div class="post-info">
  			</div>

        
    </main>

            </div>

            
                <footer class="footer">
    <div class="footer__inner">
        
    </div>
    <div class="footer__inner">
        <div class="footer__content">

        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            <span>Powered by <a href="https://github.com/golang">GOLANG</a></span>
            <span>&copy; 2019</span>
            <span> <a
                href="/posts/index.xml" target="_blank" title="rss"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-rss">
                    <path d="M4 11a9 9 0 0 1 9 9"></path>
                    <path d="M4 4a16 16 0 0 1 16 16"></path>
                    <circle cx="5" cy="19" r="1"></circle>
                </svg></a></span>
            <span>Made by <a href="https://github.com/tmac33">COSMO</a></span>
        </div>
    </div>
</footer>

            
        </div>

        




<script type="text/javascript" src="/bundle.min.cf7871ed49474a80ed457154d24e61f7881adbe0f9384951a74ac46b688a39a4dbfa68bc6d37baeb058186de354ead3487d4ee7f083ea4cba860c48600b694f3.js" integrity="sha512-z3hx7UlHSoDtRXFU0k5h94ga2&#43;D5OElRp0rEa2iKOaTb&#43;mi8bTe66wWBht41Tq00h9Tufwg&#43;pMuoYMSGALaU8w=="></script>



    </body>
</html>
